.presentazione {
	padding: 0vw 1vw 1vw 1vw;
}

.presentazione-title {
	font-size:20px;
	margin-bottom:0.5vw
}

.presentazione-container {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.suffisso {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16vw;
}

.suffisso-input-container {
    flex: 1;
}

.suffisso-input-container input {
    width: 100%;
    box-sizing: border-box;
}

.tipo-presentazione {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5vw 0 3vw 0;
}

.horizontal-container {
    display: flex;
    flex-direction: column; /* Keep the label on top */
    gap: 8px; /* Space between label and inputs */
}

.inputs-container {
    display: flex;
    flex-direction: row; /* Arrange inputs horizontally */
    gap: 16px; /* Space between the select and datepicker */
    align-items: center; /* Align inputs vertically if they differ in height */
}

.select-container,
.datepicker-container {
    flex: 1; /* Adjust widths equally; remove if not needed */
}

p-select,
p-datepicker {
    width: 100%; /* Ensure components fill their containers */
}


.text-button-container {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.35);
}

.button img {
    display: block;
    width: auto;
    height: auto;
}