.gradle/**
.settings/**
/bin/**
/.project
/.classpath
**/.angular/**
/.gradle/
/.DS_Store
/bin/
/local/**
/WEB-INF/
**/.gradle_home/**
/etc/local/**
/build/
src/ui/dist/**
/stampati.pid
node_modules/
