<div>
	<div>
		<p-listbox *ngIf="stampato.stampatiRelatori && stampato.stampatiRelatori.length" [options]="stampato.stampatiRelatori" scrollHeight="20rem" class="w-full">
		    <ng-template let-relatore pTemplate="item">
		        <div class="flex align-items-center justify-content-between w-full">
		            <div>
		                <div>
				        	{{ relatore.cognome }}
				        	<span *ngIf="relatore.maggioranza == true">Relatore per la maggioranza</span>
				        	<span *ngIf="relatore.maggioranza == false">Relatore per la minoranza</span>
				        </div>
		                <span *ngIf="relatore.commissione">({{ relatore.commissione.descgcommissionebreve }} {{ relatore.commissione.desccecommissione }})</span>
		            </div>
		            <button (click)="deleteRelatore(relatore)" pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"></button>
		        </div>
		    </ng-template>
		</p-listbox>
	</div>
	<div class="mt-4">
		<label class="text-xl text-left font-bold mb-2">Menu di modifica dei Relatori</label> 
		<p-select  [options]="stampato.relatoriFel" [(ngModel)]="selectedRelatore" placeholder="Seleziona un relatore" class="w-full md:w-56" >	
			<ng-template let-relatore pTemplate="item">
				<div>{{ relatore.desccognome }} {{ relatore.descnome }}</div>
			</ng-template>
			<ng-template let-relatore pTemplate="selectedItem">
		        <div *ngIf="relatore"> {{ relatore.desccognome }} {{ relatore.descnome }}</div>
		    </ng-template>
		</p-select>
	</div>
	<div class="flex justify-content-start flex-wrap mt-4 gap-4">
		<div>
			<p-checkbox [(ngModel)]="checked" [binary]="true" inputId="maggioranza"/>
			<label for="maggioranza" class="ml-2">Per la maggioranza</label>
		</div>
		<div>
			<p-checkbox [(ngModel)]="checked1" [binary]="true" inputId="minoranza"/>
			<label for="minoranza" class="ml-2">di minoranza</label>
		</div>
	</div>
	<div class="mt-4">
		<p-select [options]="commissions" [(ngModel)]="selectedCommissione" optionLabel="denominazione" [showClear]="true" placeholder="Seleziona la commissione" class="w-full md:w-56" />
	</div>
	<div class="flex justify-content-between flex-wrap mt-8">
		<div class="m-2"><p-button (click)="add()" label="Aggiungi" severity="info" [style]="{'background-color': '#285492'}"/></div>
		<div class="m-2"><p-button (click)="save()" label="Salva" severity="info" [style]="{'background-color': '#285492'}"/></div>			
	</div>
</div>