<div>
	<div><p-listbox  optionLabel="name" class="w-full md:w-56" /></div>
	<div class="mt-4">
		<label class="text-xl text-left font-bold mb-2">Menu di modifica dei Relatori</label> 
		<p-select  optionLabel="name" placeholder="Seleziona un relatore" class="w-full md:w-56" />
	</div>
	<div class="flex justify-content-start flex-wrap mt-4 gap-4">
		<div>
			<p-checkbox [(ngModel)]="checked" [binary]="true" inputId="maggioranza"/>
			<label for="maggioranza" class="ml-2">Per la maggioranza</label>
		</div>
		<div>
			<p-checkbox [(ngModel)]="checked1" [binary]="true" inputId="minoranza"/>
			<label for="minoranza" class="ml-2">di minoranza</label>
		</div>
	</div>
	<div class="mt-4">
		<p-select [options]="commissions"  optionLabel="denominazione" [showClear]="true" placeholder="Seleziona la commissione" class="w-full md:w-56" />
	</div>
	<div class="w-full mt-4">
  		<label class="text-lg text-left mb-2">altro</label> 
  		<div class="w-full">
    		<textarea rows="3" class="w-full" pTextarea [(ngModel)]="value"></textarea>
  		</div>
	</div>
	<div class="flex justify-content-between flex-wrap mt-4">
		<div class="m-2"><p-button label="Aggiungi" severity="info"/></div>
		<div class="m-2"><p-button label="Modifica" severity="info"/></div>
		<div class="m-2"><p-button label="Cancella" severity="info"/></div>
		<div class="m-2"><p-button label="Pulisci" severity="info"/></div> 			
	</div>
</div>