<div>
	<p-card>
		<div><span class="text-2xl text-left font-bold">Menu di gestione dei Relatori</span></div>
		<div class="flex justify-content-start flex-wrap mt-2 gap-4">
    		<div class="flex flex-column w-30rem">
    			<label class="text-xl text-left font-bold" style="color:red">Relatori proposti</label>
    			<p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" scrollHeight="20rem" class="w-full"/>
    		</div>
    		<div class="flex flex-column w-30rem">
    			<label class="text-xl text-left font-bold">Relatori selezionati</label>
    			<p-listbox [options]="cities1" [(ngModel)]="selectedCity1" optionLabel="name" scrollHeight="20rem" class="w-full"/>
    		</div>
    		<div>
    			<label class="text-xl text-left font-bold">Gestione Relatori</label>
    			<div><p-button (click)="showDialog()" pTooltip="Modifica Relatori" tooltipPosition="top" icon="pi pi-pencil" [style]="{'background-color': '#285492'}"/></div>
    		</div>
		</div>
	</p-card>
</div>