<div>
	<p-card>
		<p-toast />
		<div><span class="text-2xl text-left font-bold">Menu di gestione del Frontespizio</span></div>
		<div class="flex justify-content-between flex-wrap mt-2 gap-4">
			<div class="flex flex-column w-30rem"><input pInputText placeholder="Nome del Frontespizio" readonly/></div>
			<div class="flex flex-column flex-grow-1 w-20rem"><input pInputText placeholder="Nome file" readonly class="w-full"/></div>
		</div>
		<div class="flex justify-content-between flex-wrap mt-2 gap-2">
			<div class="flex flex-row">
				<div>
					<label class="font-bold block mb-2">Numeri PDL del frontespizio</label>
           			<p-inputgroup>
		    			<input pInputText/>
		    			<p-inputgroup-addon><div><p-button (click)="showDialog()" pTooltip="Modifica" tooltipPosition="top" icon="pi pi-pencil" [style]="{'background-color': '#285492'}"/></div></p-inputgroup-addon>
					</p-inputgroup>
				</div>
           	</div>
       		<div>
           		<label class="font-bold block mb-2">Pagine</label>
	    		<input pInputText />
           	</div>
       		<div>
           		<label class="font-bold block mb-2">Lettera (Navette)</label>
           		<p-select [options]="letters" [(ngModel)]="selectedLetter" (ngModelChange)="onLetterSelect($event)" optionLabel="name" [showClear]="true" placeholder="Seleziona Lettera" class="w-14rem" />
			</div>
       		<div class="flex flex-column items-center">
           		<div class="flex align-items-center justify-content-center"><label class="font-bold block mb-2">Rinvio in Commissione</label></div>
           		<div class="flex align-items-center justify-content-center"><p-checkbox [binary]="true" /></div>
       		</div>
       		<div class="flex flex-column">
           		<div class="flex align-items-center justify-content-center"><label class="font-bold block mb-2">Maggioranza</label></div>
           		<div class="flex align-items-center justify-content-center"><p-checkbox [binary]="true" /></div>
       		</div>
       		<div>
           		<label class="font-bold block mb-2">Minoranza</label>
           		<p-select [options]="minoranza" [(ngModel)]="selectedMinoranza" optionLabel="name" [showClear]="true" placeholder="Seleziona Minoranza" class="w-14rem"/>
			</div>
		</div>
	</p-card>
</div>