<div class="custom-card">
	<p-card>
		<p-toast />
		<div class="flex flex-column"><label class="font-bold block mb-2">Frontespizio</label><input [(ngModel)]="stampato.nomeFrontespizio" pInputText readonly style="border: none; outline: none; background: transparent;"/></div>
		<div class="flex flex-column flex-grow-1"><label class="font-bold block mb-2">Nomefile</label><input [(ngModel)]="stampato.nomeFile" pInputText readonly class="w-full" style="border: none; outline: none; background: transparent;"/></div>
		<div class="flex justify-content-between flex-wrap mt-2 gap-2">
			<div class="flex flex-row">
				<div>
					<label class="font-bold block mb-2 required-field">Numeri PDL del frontespizio</label>
           			<p-inputgroup>
		    			<input [(ngModel)]="stampato.numeriPDL" (ngModelChange)="onChangeNumeriPDL($event)" pInputText/>
		    			<p-inputgroup-addon><div><p-button (click)="showDialog()" pTooltip="Modifica" tooltipPosition="top" icon="pi pi-pencil" [style]="{'background-color': '#285492'}"/></div></p-inputgroup-addon>
					</p-inputgroup>
				</div>
           	</div>
       		<div>
           		<label class="font-bold block mb-2">Lettera</label>
           		<p-select [options]="letters" [(ngModel)]="stampato.lettera" (onChange)="onChangeLetter($event)" [showClear]="true" placeholder="Seleziona Lettera" class="w-14rem" />
			</div>
			<div>
           		<label class="font-bold block mb-2">Navette</label>
           		<p-select [options]="navettes" [(ngModel)]="stampato.navette" (onChange)="onChangeNavette($event)" [disabled]="isDisabled"  [showClear]="true" class="w-14rem" />
			</div>
			<div class="flex flex-column items-center">
           		<div class="flex align-items-center justify-content-center"><label class="font-bold block mb-2">Testo Unificato</label></div>
           		<div class="flex align-items-center justify-content-center">
           			<p-checkbox [(ngModel)]="stampato.testoUnificato" [binary]="true" [disabled]="isDisabled" />
           		</div>
       		</div>
       		<div class="flex flex-column items-center">
           		<div class="flex align-items-center justify-content-center"><label class="font-bold block mb-2">Rinvio in Commissione</label></div>
           		<div class="flex align-items-center justify-content-center">
           			<p-checkbox [(ngModel)]="stampato.rinvioInCommissione" (onChange)="onChangeRinvio($event)" [binary]="true" [disabled]="!stampato.lettera"/>
           		</div>
       		</div>
       		<div class="flex flex-column">
           		<div class="flex align-items-center justify-content-center"><label class="font-bold block mb-2">Maggioranza</label></div>
           		<div class="flex align-items-center justify-content-center">
           			<p-checkbox [(ngModel)]="stampato.relazioneMagg" [binary]="true" [disabled]="!stampato.lettera"/>
           		</div>
       		</div>
       		<div>
           		<label class="font-bold block mb-2">Minoranza</label>
           		<p-select [options]="minoranza" [(ngModel)]="stampato.relazioneMin" (onChange)="onChangeRelMin($event)" [showClear]="true" placeholder="Seleziona Minoranza" [disabled]="!stampato.lettera" class="w-14rem"/>
			</div>
       		<div>
           		<label class="font-bold block mb-2">Numero Pagine PDF</label>
	    		<input [(ngModel)]="stampato.pagine" pInputText />
           	</div>
		</div>
	</p-card>
</div>