.frontespizio {
	padding: 0vw 1vw 1vw 1vw;
}

.frontespizio-title {
	font-size:20px;
	margin-bottom:0.5vw
}

.frontespizio-container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:4vw;
}

.frontespizio-container > div {
    flex: 1;
}

.frontespizio-container > div:last-child {
    flex: 2;
}

.frontespizio-container > div:last-child input {
    width: 100%;
}

.frontespizio-manage {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0.5vw;
}

.numeriPDLFrontespizio {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.35);
}

.button img {
    display: block;
    width: auto;
    height: auto;
}