

.text-number {
	font-size:20px;
	font-weight:bold;
	letter-spacing: 2px;
	color: #285493;
}

.barcode-container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vw 0 1vw 0;
    gap:4vw;
}

.text-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Make the first and third divs larger */
.text-title-container > div:first-child, .text-title-container > div:last-child {
    flex: 2;
    max-width: 60%;
}

/* Make the envelope container smaller */
.text-title-container > .envelope-container {
    flex: 1;
    max-width: 20%;
}

/* Ensure the editor fills the width of its container */
.text-title-container p-editor {
    width: 100%;
}

.envelope-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.35);
}

.button img {
    display: block;
    width: auto;
    height: auto;
}