<div>
	<p-card>
		<div>
			<div class="flex justify-content-between flex-wrap">
				<div><span class="text-2xl text-left font-bold">Menu di gestione dello Stampato</span></div>
				<div class="flex justify-content-end flex-wrap">
					<div class="m-2"><p-button pTooltip="Inserisci" tooltipPosition="top" icon="pi pi-plus" severity="info"/></div>
					<div class="m-2"><p-button pTooltip="Salva" tooltipPosition="top" icon="pi pi-save" severity="success"/></div>
					<div class="m-2"><p-button pTooltip="Sospendi" tooltipPosition="top" icon="pi pi-pause" severity="warn"/></div>
					<div class="m-2"><p-button pTooltip="Cancella" tooltipPosition="top" icon="pi pi-eraser" severity="danger"/></div> 			
				</div>
			</div>
		</div>
		<div class="flex justify-content-start flex-wrap mb-4">
			<div class="mr-6">
				<p-inputgroup>
	    			<input pInputText id="barcode" class="text-2xl text-left font-bold" placeholder="Codice a barre"/>
	    			<p-inputgroup-addon><div class="button" pTooltip="Codice a barre" tooltipPosition="right"><img src="assets/img/tag.png" style="width: 25px" alt="Barcode Icon"/></div></p-inputgroup-addon>
				</p-inputgroup>
			</div>
			<div class="mr-6">
				<p-inputgroup>
	    			<div class="flex align-items-center justify-content-center mr-2"><p-checkbox [binary]="true"/></div>
	    			<input pInputText placeholder="PDF presente" readonly/>
	    			<p-inputgroup-addon><div class="button" pTooltip="Preview PDF" tooltipPosition="right"><img src="assets/img/sheet.png" style="width: 25px" alt="PDF Icon"/></div></p-inputgroup-addon>
				</p-inputgroup>
			</div>
			<div class="mr-6">
				<p-inputgroup>
	    			<div class="flex align-items-center justify-content-center mr-2"><p-checkbox [binary]="true"/></div>
	    			<input pInputText placeholder="XHTML presente" readonly/>
	    			<p-inputgroup-addon><div class="button" pTooltip="Preview XHTML" tooltipPosition="right"><img src="assets/img/xhtml.png" style="width: 25px" alt="XHTML Icon"/></div></p-inputgroup-addon>
				</p-inputgroup>
			</div>
		</div>
		<div class="flex justify-content-between">
			<div class="flex-grow-1">
				<label class="text-xl text-left font-bold mt-4" style="color:red">Titolo eFel</label>
				<div class="ckeditor-container">
					<ckeditor [(ngModel)]="text" [editor]="Editor" [config]="config"></ckeditor>
				</div>
			</div>
			<div class="flex justify-content-between flex-column m-4">
				<div class="m-2"><p-button pTooltip="Invia Email a Testi Normativi" tooltipPosition="top" icon="pi pi-envelope" severity="secondary"/></div>
				<div class="m-2"><p-button pTooltip="Copia il testo di eFel" tooltipPosition="top" icon="pi pi-arrow-circle-right" severity="info"/></div>
				<div class="button">
					<div class="m-2"><img src="assets/img/is-not-equal-to.png" pTooltip="Titoli diversi" tooltipPosition="bottom" style="width: 36px" alt="Not Equal Icon"/></div>
					<div class="m-2"><p-button pTooltip="Titoli uguali" tooltipPosition="top" icon="pi pi-equals" severity="success"/></div>
				</div>
			</div>
			<div class="flex-grow-1">
				<label class="text-xl text-left font-bold mt-4">Titolo Tipografia</label>
				<ckeditor [(ngModel)]="text" [editor]="Editor" [config]="config"></ckeditor>
			</div>
		</div>
	</p-card>
</div>
