<div class="container h-screen">
    <p-splitter [panelSizes]="[18, 82]" styleClass="mb-12">
        <ng-template #panel>
            <div class="flex flex-column h-full p-2">
                <ricerca [stampato]="stampato" (stampatoChange)="updateStampato($event)"/>
            </div>
        </ng-template>
        <ng-template #panel>
            <div class="flex flex-column h-full flex-grow-1">
                <barcode [stampato]="stampato" (stampatoChange)="updateStampato($event)" class="w-full"></barcode>
                <frontespizio [stampato]="stampato" (stampatoChange)="updateStampato($event)" class="w-full"></frontespizio>
                <relatori [stampato]="stampato" (stampatoChange)="updateStampato($event)" class="w-full"></relatori>
                <presentazione [stampato]="stampato" (stampatoChange)="updateStampato($event)" class="w-full"></presentazione>
            </div>
        </ng-template>
    </p-splitter>
</div>
