<div class="container h-screen">
	<p-toast />
    <p-splitter [panelSizes]="[18, 82]" styleClass="container w-full min-h-screen">
        <ng-template #panel>
            <div class="flex flex-column h-full p-2">
                <ricerca [stampato]="stampato" (stampatoChange)="updateStampato($event)"/>
            </div>
        </ng-template>
        <ng-template #panel>
        
        <!-- /testi/{barcode} --> <!-- caso lavoro su stampato esistente -->
        <!-- /testi/ --> <!-- caso lavoro su stampato nuovo -->
        
        
        <!-- Qui router outlet, i componenti vanno tutti dentro un altro componenente -->
            <div class="flex flex-column h-full flex-grow-1">
            	<div>
					<div class="flex justify-content-between align-items-center flex-wrap p-3">
						<div><span class="text-2xl text-left font-bold">Menu di gestione dello Stampato</span></div>
						<div class="flex justify-content-end flex-wrap">
							<div class="m-2"><p-button (click)="errata(stampato)" label="Errata Corrige" [disabled]="stampato.dataDeleted != null || stampato?.id?.barcode == null" [style]="{'background-color': '#285492'}"/></div>
							<div class="m-2"><p-button (click)="rigonero()" label="Rigo nero" [disabled]="stampato.dataDeleted != null || stampato?.id?.barcode == null" [style]="{'background-color': '#285492'}"/></div>						
							<div class="m-2"><p-button (click)="new()" label="Nuovo" [style]="{'background-color': '#285492'}"/></div>					
							<div class="m-2"><p-button (click)="save(stampato)" [disabled]="stampato.dataDeleted != null || stampato?.id?.barcode == null" label="Salva" [style]="{'background-color': '#285492'}"/></div>
							<div class="m-2"><p-button (click)="publish(stampato)" label="Pubblica" [disabled]="stampato.id.barcode == null || stampato.dataDeleted != null || stampato.pubblicato == true" [style]="{'background-color': '#285492'}" /></div>
							<div class="m-2"><p-button (click)="unpublish(stampato)" label="Sospendi Pubblicazione" [disabled]="stampato.id.barcode == null || stampato.dataDeleted != null || stampato.pubblicato == null || stampato.pubblicato == false" [style]="{'background-color': '#285492'}"/></div>
							<div class="m-2"><p-button (click)="delete(stampato)" [disabled]="stampato.dataDeleted != null || stampato.id.barcode == null" label="Cancella" severity="danger"/></div>
							<div class="m-2"><p-button (click)="restore(stampato)" [disabled]="stampato.dataDeleted == null || stampato.id.barcode == null" label="Ripristina" [style]="{'background-color': '#285492'}"/></div>
							</div>
					</div>
				</div>
                <barcode [stampato]="stampato" class="w-full"></barcode>
                <frontespizio [stampato]="stampato" class="w-full"></frontespizio>
                <relatori *ngIf="!stampato?.id?.barcode?.includes('MSG')" [stampato]="stampato" class="w-full"></relatori>
                <presentazione [stampato]="stampato" class="w-full"></presentazione>
            </div>
        </ng-template>
    </p-splitter>
</div>
