<p-card styleClass="w-full text-sm">
<p-toast />
    <div class="flex justify-content-center flex-wrap">
        <p-button (click)="showDialog()" label="Carica Stampato da Elaborare" icon="pi pi-external-link" [style]="{'background-color': '#285492'}" styleClass="w-full"/>
    </div>
</p-card>
<p-card header="Menu di Ricerca" styleClass="w-full text-sm">
    <div class="flex flex-column">
        <div class="w-full">
            <p-inputgroup class="w-full">
            	<p-floatlabel class="w-full md:w-56" variant="in">
				    <p-select [options]="legislatures" [(ngModel)]="selectedLegislature" optionLabel="legArabo" appendTo="body" variant="filled" />
				    <label>Leg</label>
				</p-floatlabel>
                <input #searchInput (keyup.enter)="search(searchInput.value)"  pInputText placeholder="Ricerca..." type="text" class="w-full"/>
                <p-inputgroup-addon><p-button (click)="search(searchInput.value)" icon="pi pi-search" severity="secondary" variant="text"/></p-inputgroup-addon>
                <p-inputgroup-addon><p-button (click)="clearInput()" icon="pi pi-times" severity="secondary" variant="text"/></p-inputgroup-addon>
            </p-inputgroup>
        </div>
    </div>
    <div *ngIf="results?.length > 0" class="bg-gray-100 text-lg mt-4">Risultati</div>
    <div *ngIf="results?.length > 0" class="overflow-hidden">
    	<p-table [value]="results" showGridlines size="small" scrollHeight="700px" [scrollable]="true" selectionMode="single" class="h-full">
		    <ng-template pTemplate="header">
		        <tr>
		            <th>Barcode</th>
		            <th>Numero atto</th>
		            <th>Errata Corrige</th>
		            <th>Rigo Nero</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-result>
		        <tr (click)="loadStampato(result)">
		            <td>{{ result.barcode }}</td>
		            <td>{{ result.numeroAtto }}</td>
		            <td><i *ngIf="result.errataCorrige" class="pi pi-check" style="color: green; font-size: 1.5rem"></i></td>
    				<td><i *ngIf="result.rigoNero" class="pi pi-check" style="color: black; font-size: 1.5rem"></i></td> 
    			</tr>
		    </ng-template>
		    <ng-template #emptymessage>
				<tr><td colspan="4">Non ci sono risultati</td></tr>
			</ng-template>
		</p-table>
	</div>
</p-card>