<div class="flex flex-column h-full flex-grow-1">
	<p-toast/>
	<div class="custom-card mt-3">
		<div class="flex justify-content-between align-items-center flex-wrap">
				<div><span class="text-2xl text-left font-bold">Menu di gestione dello Stampato</span></div>
				<div class="flex justify-content-end flex-wrap">
				<div class="m-2"><p-button (click)="errata(stampato)" label="Errata Corrige" [disabled]="stampato.dataDeleted != null || stampato?.id?.barcode == null" [style]="{'background-color': '#285492'}"/></div>
				<div class="m-2"><p-button (click)="rigonero()" label="Rigo nero" [disabled]="stampato.dataDeleted != null || stampato?.id?.barcode == null" [style]="{'background-color': '#285492'}"/></div>						
				<div class="m-2"><p-button (click)="save(stampato)" [disabled]="stampato.dataDeleted != null || stampato?.id?.barcode == null || stampato?.titolo == null || stampato?.numeriPDL == null" label="Salva" [style]="{'background-color': '#285492'}"/></div>
				<div class="m-2"><p-button (click)="publish(stampato)" label="Pubblica" [disabled]="stampato.id.barcode == null || stampato.dataDeleted != null || stampato.pubblicato == true" [style]="{'background-color': '#285492'}" /></div>
				<div class="m-2"><p-button (click)="unpublish(stampato)" label="Sospendi Pubblicazione" [disabled]="stampato.id.barcode == null || stampato.dataDeleted != null || stampato.pubblicato == null || stampato.pubblicato == false" [style]="{'background-color': '#285492'}"/></div>
				<div class="m-2"><p-button (click)="delete(stampato)" [disabled]="stampato.dataDeleted != null || stampato.id.barcode == null || stampato?.titolo == null || stampato?.numeriPDL == null" label="Cancella" severity="danger"/></div>
				<div class="m-2"><p-button (click)="restore(stampato)" [disabled]="stampato.dataDeleted == null || stampato.id.barcode == null" label="Ripristina" [style]="{'background-color': '#285492'}"/></div>
			</div>
		</div>
	</div>
    <barcode [stampato]="stampato" class="w-full"></barcode>
    <frontespizio [stampato]="stampato" class="w-full"></frontespizio>
    <relatori *ngIf="!stampato?.id?.barcode?.includes('MSG')" [stampato]="stampato" (stampatoUpdated)="onStampatoRelatoriUpdated($event)" class="w-full"></relatori>
    <presentazione [stampato]="stampato" class="w-full"></presentazione>
</div>