.toolbar {
	position: fixed;
	width : 100%;
	z-index: 2180;
}
:host ::ng-deep .p-toolbar {
	height: 50px;
	padding: 0 .2em;
	background-color: #285493;
	vertical-align: middle;
	border-bottom-width: 0px;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	border-left-width: 0px;
	border-right-width: 0px;
}

:host ::ng-deep .p-toolbar h1 {
	font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.app-name {
	position: relative;
	display: flex;
	margin: 0;
	color: white;
	align-items: center;
}

.app-name img {
	height: 40px;
	margin: 5px 10px;
}

.app-name span {
	margin: auto .3em;
}

.app-name .version {
	font-size: 75%;
}

.wrapper {
	position: relative;
	top: 50px;
	min-height: 92vh;
}

.spinner {
	position: fixed;
	top: 40%;
	left: 45%;
	z-index: 5000;
}

/* ::ng-deep .p-splitter-gutter { */
/* 	margin: 0em; */
/* 	width: 20px; */
/* 	background-color: #285493; */
/* } */

/* ::ng-deep .p-splitter-gutter-handle { */
/*     background: #86a5d3; */
/* } */
